@import 'assets/styles/typography.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: theme(colors.primary);
    --dark: theme(colors.dark);
    --light: theme(colors.light);
    --completed: theme(colors.completed);
    background-color: var(--primary);
}

html {
    background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light);
}

.puzzle-completed {
    color: var(--completed);
}

.puzzle-not-completed {
    color: var(--dark);
}

.verb-inactive {
    text-decoration: none;
}

.verb-active {
    text-decoration: underline;
}